@charset "utf-8";

* {
  margin: 0;
  padding: 0;
  text-align: center;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
main {
  width: 100%;
  height: 100vh;
  background-color: #f3f3f3;
  display: flex;
  align-items: center;
  overflow: hidden;
}
main.on {
  background: url(../images/lifebg.png) center/cover no-repeat;
}
.mainBox {
  width: 1400px;
  margin: 0 auto;
}
.mainBox > h1 {
  font-size: 3.25rem;
  font-weight: bold;
  color: #111;
}
.mainBox > h1.on {
  color: #fff;
}
.mainBox > p {
  font-size: 1.125rem;
  font-weight: 500;
  opacity: 0.7;
  color: #555;
  margin-bottom: 30px;
}
.mainBox > p.on {
  color: #fff;
}
.better {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 60px;
}
.better span {
  width: 230px;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 54px;
  border-radius: 27px;
  cursor: pointer;
  background-color: #333;
  color: rgba(255, 255, 255, 0.5);
}
.better span.on {
  background-color: #da291c;
  color: #fff;
}
.conBox {
  display: flex;
  gap: 30px;
}
.conBox li {
  position: relative;
  width: calc((1400px - 120px) / 3);
}
.conBox li a {
  display: block;
  transition: 0.2s;
}
.conBox li a.on {
  transform: translateY(-30px);
}
.conBox li .con img {
  border-radius: 30px;
}
.conBox li .red {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
  background-color: rgba(217, 15, 0, 0.9);
  opacity: 0;
}
.conBox li .red h2 {
  color: #fff;
}
.conBox li .red .arrow {
  width: 55px;
  height: 55px;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.life {
  background-color: #fff;
  border-radius: 30px;
  padding: 48px 32px 112px;
  display: none;
}
.life a:first-child {
  margin: 40px;
}
.life a h1 {
  color: #222;
  font-size: 2.125rem;
  font-weight: bold;
}
.life a p {
  color: #555;
  font-size: 1.25rem;
  font-weight: 300;
}
