@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
}
body {
  font-family: "Noto Sans KR", sans-serif;
  word-break: keep-all;
  letter-spacing: -0.01rem;
  cursor: default;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
br.mob {
  display: none;
}
/* 전체 */
/* header(fixed) */
header {
  position: fixed;
  height: 72px;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  background-color: #fff;
  z-index: 1000;
}
header .head {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
}
header .head .headLogo {
  background: url(images/logoblack.svg) center/cover no-repeat;
  width: 97px;
  height: 33px;
}
header .head .headNav {
  height: 100%;
}
header .head .headNav .dep1 {
  display: flex;
}
header .head .headNav .dep1 > li {
  padding: 0 34px;
  position: relative;
}
header .head .headNav .dep1 > li > a {
  font-size: 16px;
  line-height: 72px;
  font-weight: 700;
  color: #111;
}
header .head .headNav .dep1 > li .dep2 {
  position: absolute;
  left: 0;
  top: 72px;
  width: 100%;
  height: 275px;
  z-index: 1020;
  display: none;
}
header .head .headNav .dep1 > li .dep2 li {
  line-height: 40px;
}
header .head .headNav .dep1 > li .dep2 li a {
  font-weight: 500;
  color: #666;
}
/* head nav background */
header .head .headNav .bgWhite {
  position: absolute;
  left: 0;
  top: 72px;
  width: 100%;
  height: 0;
  z-index: 1010;
}
header .head .headNav .dep1:hover ~ .bgWhite {
  height: 275px;
  background-color: #fff;
}
header .head .headNav .dep1:hover > li .dep2 {
  display: block;
}
header .head .headLogin ul {
  display: flex;
}
header .head .headLogin ul li {
  padding: 0 10px;
}
header .head .headLogin ul li a {
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #111;
}
header .head .hamberger {
  display: none;
}
/* main */
main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main .mainPage {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}
main .mainPage .obj {
  width: 100%;
  height: 100%;
}
main .mainPage .obj p {
  height: 100%;
}
main .mainPage .obj p img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .memPage,
main .whiteBg,
main .brandPage {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .point {
  background: #111;
}
main .coupon {
  background: url(images/couponbg.png) center/cover no-repeat;
}
main .cosmopolitan {
  background: #ff1493;
}
main .bazzar {
  background: #111;
}
main .esquire {
  background: #969c98;
}
main .ellevoice {
  background: #f2efe8;
}
main .artwalk {
  background: #111;
}
main .eee {
  background: #f7f7f7;
}
main .appPage {
  display: flex;
  align-items: center;
}
main .appPage .appWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  height: 600px;
  box-sizing: border-box;
}
main .appPage .appWrap .txt {
  width: 460px;
}
main .appPage .appWrap picture {
  width: 680px;
  margin-left: 60px;
}
main .appPage .appWrap picture img {
  width: 100%;
}
main .darkPage .txt {
  color: #fff;
}
main .video .txt {
  color: #111;
}
main .memPage .txt,
main .brandPage .txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main .memPage .txt p:nth-child(1) {
  font-size: 28px;
  font-weight: 700;
}
main .memPage .txt p:nth-child(2) {
  font-size: 56px;
  font-weight: 700;
  margin-top: 24px;
}
main .memPage .txt p:nth-child(3) {
  font-size: 18px;
  font-weight: 500;
  margin-top: 40px;
}
main .whiteBg .txt p:nth-child(1) {
  font-size: 80px;
  font-weight: 700;
}
main .whiteBg .txt p:nth-child(2) {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  color: #666;
}
main .brandPage .txt p:nth-child(2) {
  font-size: 28px;
  font-weight: 600;
  margin-top: 47px;
  font-family: "Montserrat", sans-serif;
}
main .brandPage .txt p:nth-child(3) {
  font-size: 18px;
  font-weight: 500;
  margin-top: 24px;
}
main .appPage .txt p:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
}
main .appPage .txt p:nth-child(2) {
  font-size: 36px;
  font-weight: 700;
  margin-top: 24px;
}
main .appPage .txt p:nth-child(3) {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}
main .elle .txt p:nth-child(3),
main .ellevoice .txt p:nth-child(3) {
  color: #666;
}
main .memPage .txt .mainLink {
  margin-top: 80px;
}
main .brandPage .txt .mainLink,
main .appPage .txt .mainLink {
  margin-top: 60px;
}
main .darkPage .txt .mainLink a {
  color: #fff;
  padding: 16px 24px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  display: inline-block;
}
main .brightPage .txt .mainLink a {
  color: #111;
  padding: 16px 24px;
  border: 1px solid rgba(17, 17, 17, 0.6);
  display: inline-block;
}
main .mainPage .txt .mainLink a span {
  font-size: 16px;
  font-weight: 500;
  padding-right: 28px;
  box-sizing: border-box;
  position: relative;
}
main .darkPage .txt .mainLink a span::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url(images/arrowwhite.png) center/100% no-repeat;
}
main .brightPage .txt .mainLink a span::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url(images/arrowdark.svg) center/100% no-repeat;
}
/* footer */
footer {
  width: 100%;
  height: 100%;
}
footer .foot {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  font-weight: 500;
}
footer .foot .footTop {
  display: flex;
  justify-content: center;
  font-size: 16px;
  gap: 32px;
  padding: 23px 0;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
footer .foot .footTop li a {
  color: #666;
}
footer .foot .footTop li:nth-child(2) a {
  color: #111;
  font-weight: 700;
}
footer .foot .footBot {
  font-size: 14px;
  color: #666;
  padding: 40px 0 60px;
}
footer .foot .footBot address {
  font-style: normal;
}
footer .foot .footBot address {
  margin-bottom: 6px;
}
footer .foot .footBot address:first-child span:first-child {
  color: #111;
}
footer .foot .footBot p {
  margin-top: 32px;
}
#floatingNav {
  display: none;
}
#floatingNav:checked ~ div {
  display: block;
}
.floatingNav {
  position: fixed;
  right: 80px;
  bottom: 80px;
  z-index: 500;
}
.floatingNav div {
  display: none;
}
.floatingNav div ul {
  border: 1px solid #dbdbdb;
  padding: 20px 0;
  position: absolute;
  right: 0;
  bottom: 80px;
}
.floatingNav div ul li a {
  color: #999;
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  padding-left: 32px;
  line-height: 48px;
  width: 282px;
  box-sizing: border-box;
}
.floatingNav div ul li:hover a {
  color: #111;
  font-weight: 700;
}
.floatingNav p {
  position: relative;
  background: #111;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
}
.floatingNav p label img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  header .head .headNav {
    /* position: absolute;
    left: 0;
    top: 0; */
    display: none;
  }
  header .head .headLogin {
    display: none;
  }
  header .head .hamberger {
    display: block;
  }
}
