@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans+KR:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  font-family: "Noto Sans KR", sans-serif;
  word-break: keep-all;
  white-space: nowrap;
  letter-spacing: -0.01rem;
  cursor: default;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
br.mob {
  display: none;
}
/* header(fixed) */
header {
  position: fixed;
  height: 72px;
  width: 100%;
  left: 0;
  top: 0;
  text-align: center;
  background-color: transparent;
  z-index: 1000;
}
header .head {
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  height: 100%;
}
header .head .headLogo {
  background: url(images/logowhite.svg) center/cover no-repeat;
  width: 97px;
  height: 33px;
}
header .head .headNav {
  height: 100%;
}
header .head .headNav .dep1 {
  display: flex;
}
header .head .headNav .dep1 > li {
  padding: 0 34px;
  position: relative;
}
header .head .headNav .dep1 > li > a {
  font-size: 16px;
  line-height: 72px;
  font-weight: 700;
  color: #fff;
}
header .head .headNav .dep1 > li .dep2 {
  position: absolute;
  left: 0;
  top: 72px;
  width: 100%;
  height: 275px;
  z-index: 1020;
  display: none;
}
header .head .headNav .dep1 > li .dep2 li {
  line-height: 40px;
}
header .head .headNav .dep1 > li .dep2 li a {
  font-weight: 500;
  color: #666;
}
/* head nav background */
header .head .headNav .bgWhite {
  position: absolute;
  left: 0;
  top: 72px;
  width: 100%;
  height: 0;
  z-index: 1010;
}
header .head .headNav .dep1:hover ~ .bgWhite {
  height: 275px;
  background-color: #fff;
  border-bottom: 1px solid #dbdbdb;
}
header .head .headNav .dep1:hover > li .dep2 {
  display: block;
}
header .head .headLogin ul {
  display: flex;
}
header .head .headLogin ul li {
  padding: 0 10px;
}
header .head .headLogin ul li a {
  font-size: 14px;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
  color: #fff;
}
header .head .hamberger {
  display: none;
}
/* main */
main {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
main .mainPage {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  position: relative;
}
/* main .mainPage .obj {
}
main .mainPage .obj p {
} */
main .mainPage .obj p img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .memPage,
main .whiteBg,
main .brandPage {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .coupon {
  background: url(images/couponbg.png) center/cover no-repeat;
}
main .point {
  background: #111;
}
main .point .mobObj {
  display: none;
}
main .cosmopolitan {
  background: #ff1493;
}
main .bazzar {
  background: #111;
}
main .esquire {
  background: #969c98;
}
main .ellevoice {
  background: #f2efe8;
}
main .artwalk {
  background: #111;
}
main .eee {
  background: #f7f7f7;
}
main .appPage {
  display: flex;
  align-items: center;
}
main .appPage .appWrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 40px;
  height: 600px;
  box-sizing: border-box;
}
main .appPage .appWrap .txt {
  width: 460px;
}
main .appPage .appWrap .appPagePc {
  width: 680px;
  margin-left: 60px;
}
main .appPage .appWrap .appPageMob {
  display: none;
}
main .appPage .appWrap .appPagePc img {
  width: 100%;
}
main .darkPage .txt {
  color: #fff;
}
main .memPage .txt,
main .brandPage .txt {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
main .memPage .txt p:nth-child(1) {
  font-size: 28px;
  font-weight: 700;
}
main .memPage .txt p:nth-child(2) {
  font-size: 56px;
  font-weight: 700;
  margin-top: 24px;
}
main .memPage .txt p:nth-child(3) {
  font-size: 18px;
  font-weight: 500;
  margin-top: 40px;
}
main .whiteBg .txt p:nth-child(1) {
  font-size: 80px;
  font-weight: 700;
}
main .whiteBg .txt p:nth-child(2) {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  color: #666;
}
main .brandPage .txt p:nth-child(2) {
  font-size: 28px;
  font-weight: 600;
  margin-top: 47px;
  font-family: "Montserrat", sans-serif;
}
main .brandPage .txt p:nth-child(3) {
  font-size: 18px;
  font-weight: 500;
  margin-top: 24px;
}
main .appPage .appWrap .txt p:nth-child(1) {
  font-size: 20px;
  font-weight: 700;
}
main .appPage .appWrap .txt p:nth-child(2) {
  font-size: 36px;
  font-weight: 700;
  margin-top: 24px;
}
main .appPage .appWrap .txt p:nth-child(3) {
  font-size: 18px;
  font-weight: 500;
  margin-top: 20px;
}
main .video .videoMob {
  display: none;
}
main .elle .txt p:nth-child(3),
main .ellevoice .appWrap .txt p:nth-child(3) {
  color: #666;
}
main .memPage .txt .mainLink {
  margin-top: 80px;
}
main .brandPage .txt .mainLink,
main .appPage .appWrap .txt .mainLink {
  margin-top: 60px;
}
main .darkPage .txt .mainLink a {
  color: #fff;
  padding: 16px 24px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  display: inline-block;
}
main .brightPage .txt .mainLink a {
  color: #111;
  padding: 16px 24px;
  border: 1px solid rgba(17, 17, 17, 0.6);
  display: inline-block;
}
main .mainPage .txt .mainLink a span {
  font-size: 16px;
  font-weight: 500;
  padding-right: 28px;
  box-sizing: border-box;
  position: relative;
}
main .darkPage .txt .mainLink a span::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url(images/arrowwhite.png) center/100% no-repeat;
}
main .brightPage .txt .mainLink a span::after {
  content: "";
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url(images/arrowdark.svg) center/100% no-repeat;
}
/* footer */
footer {
  width: 100%;
  height: 100%;
}
footer .foot {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  text-align: center;
  font-weight: 500;
}
footer .foot .footTop {
  display: flex;
  justify-content: center;
  font-size: 16px;
  gap: 32px;
  padding: 23px 0;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
}
footer .foot .footTop li a {
  color: #666;
}
footer .foot .footTop li:nth-child(2) a {
  color: #111;
  font-weight: 700;
}
footer .foot .footBot {
  font-size: 14px;
  color: #666;
  padding: 40px 0 60px;
}
footer .foot .footBot address {
  font-style: normal;
}
footer .foot .footBot address {
  margin-bottom: 6px;
}
footer .foot .footBot address:first-child span:first-child {
  color: #111;
}
footer .foot .footBot p {
  margin-top: 32px;
}
/* floating nav */
#float {
  display: none;
}
.floatingNav {
  position: fixed;
  right: 80px;
  bottom: 80px;
  z-index: 500;
}
.floatingNav .navBar {
  border: 1px solid #dbdbdb;
  padding: 20px 0;
  position: absolute;
  right: 0;
  bottom: 80px;
  background: #fff;
  transition: 0.5s;
  /* width: 282px;
  height: 384px; */
}
.floatingNav .navBar li {
  font-size: 18px;
  font-weight: 500;
  display: inline-block;
  padding-left: 32px;
  line-height: 48px;
  width: 282px;
  box-sizing: border-box;
}
.floatingNav .navBar li a {
  color: #999;
}
.floatingNav .navBar li:hover a {
  color: #111;
  font-weight: 700;
}
.floatingNav label {
  position: relative;
  background: #111;
  width: 68px;
  height: 68px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
}
.floatingNav label img {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 24px;
  height: 24px;
  transform: translate(-50%, -50%);
  cursor: pointer;
  display: block;
}
/* #float:checked ~ .navBar {
  display: none;
} */
@media screen and (max-width: 1024px) {
  main .appPage {
    padding-top: 72px;
    box-sizing: border-box;
    overflow: hidden;
  }
  main .appPage .appWrap {
    flex-direction: column;
    text-align: center;
  }
  main .appPage .appWrap .txt .mainLink {
    margin-top: 30px;
  }
  main .appPage .appWrap .appPagePc {
    display: none;
  }
  main .appPage .appWrap .appPageMob {
    display: block;
    margin-top: 50px;
    max-width: 830px;
  }
  main .appPage .appWrap .appPageMob img {
    width: 70%;
  }
}
@media screen and (max-width: 900px) {
  header .head {
    align-items: normal;
    padding: 0;
  }
  header .head .headLogo {
    width: 72px;
    height: 24px;
    margin-top: 12px;
    margin-left: 25px;
  }
  header .head .headNav {
    /* position: absolute;
    left: 0;
    top: 0; */
    display: none;
  }
  header .head .headLogin {
    display: none;
  }
  header .head .hamberger {
    display: block;
    margin-top: 12px;
    margin-right: 20px;
  }
  header .head .hamberger p img {
    width: 24px;
    height: 24px;
  }
}
@media screen and (max-width: 768px) {
  br.mob {
    display: block;
  }
  main .memPage .txt {
    z-index: 2;
  }
  main .memPage .txt p:nth-child(1) {
    font-size: 18px;
    font-weight: 500;
  }
  main .memPage .txt p:nth-child(2) {
    font-size: 28px;
    margin-top: 12px;
  }
  main .memPage .txt p:nth-child(3) {
    font-size: 14px;
    margin-top: 20px;
  }
  main .memPage .txt .mainLink {
    margin-top: 40px;
  }
  main .darkPage .txt .mainLink a {
    padding: 10px 16px 12px 20px;
  }
  main .brightPage .txt .mainLink a {
    padding: 10px 16px 12px 20px;
  }
  main .mainPage .txt .mainLink a span {
    font-size: 14px;
  }
  main .darkPage .txt .mainLink a span::after {
    background: url(images/arrowmobwhite.svg) center/16px no-repeat;
  }
  main .brightPage .txt .mainLink a span::after {
    background: url(images/arrowmobdark.svg) center/16px no-repeat;
  }
  main .mainPage .obj {
    display: none;
  }
  main .point .mobObj {
    display: block;
    position: absolute;
    bottom: 0;
    z-index: 1;
  }
  main .point .mobObj .slide {
    display: flex;
    gap: 12px;
  }
  main .point .mobObj .slide li p {
  }
  main .point .mobObj .slide li p img {
    width: 130px;
    height: auto;
  }
}
